#WebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#ImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#TextCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 20;
}

#mission
{
    position: absolute;
    left: 960px;
    top: 0px;
    z-index: 20;
}
#status
{
    position: absolute;
    left: 960px;
    top:100px;
    z-index: 20;
}
#SoundCheck {
    position: absolute;
    left: 0px;
    top: 650px;
    z-index: 20;
}

#Frustum{
    position: absolute;
    left: 20px;
    top: 650px;
    z-index:20;
}